<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GW_Dogovor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <connectionStrings>
    <add name="DBClass.Properties.Settings.dbs_ConnectString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\OneD\Pras\C#\DBGIP\bsp-snhp.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  
    <userSettings>
        <GW_Dogovor.Properties.Settings>
            <setting name="PanelsProjectView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Main_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Splitter_position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PathArhive" serializeAs="String">
                <value />
            </setting>
            <setting name="TabDogovorSplit_position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabDDogSplit_position" serializeAs="String">
                <value>0</value>
            </setting>
        </GW_Dogovor.Properties.Settings>
    </userSettings>
</configuration>