<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBClass.Properties.Settings.dbs_ConnectString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\OneDrive\Programs\C#\DBGIP\bsp-snhp.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>